<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ufabc.covidabc">

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".mainScreen.FeedbackActivity"></activity>
        <activity android:name=".mainScreen.categories.quiz.QuizResultActivity" />
        <activity android:name=".mainScreen.categories.event.EventMapsLocationActivity" />
        <activity android:name=".login.MyAccountActivity" />
        <activity android:name=".login.ForgotPasswordActivity" />
        <activity android:name=".login.RegisterActivity" />
        <activity android:name=".mainScreen.MainScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mainScreen.categories.event.EventDescriptionActivity" />
        <activity android:name=".mainScreen.categories.event.CreateEditEventActivity" />
        <activity android:name=".mainScreen.categories.faq.FAQDescriptionActivity" />
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".mainScreen.categories.quiz.QuizQuestionActivity" />

        <provider
            android:name="androidx.lifecycle.ProcessLifecycleOwnerInitializer"
            android:authorities="com.ufabc.covidabc.lifecycle-process"
            android:exported="false"
            android:multiprocess="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/API_KEY" />
    </application>

</manifest>